{% extends "../template/_layout.html"%}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/user/login.css" />
{% endblock %}
<!--  -->
{% block content%}
<div id="content">
  <form action="/user/join" method="POST">
    <label for="userid">ID</label>
    <input type="text" id="userid" name="userid" />
    <label for="userpw">비밀번호</label>
    <input type="text" id="userpw" name="userpw" />
    <label for="username">Name</label>
    <input type="text" id="username" name="username" />
    <button type="submit">회원가입</button>
  </form>
</div>
{% endblock %}
