{% extends "../template/_layout.html" %}
<!--  -->
{% block css%}
<link rel="stylesheet" href="/css/board/view.css" />
{% endblock%}
<!--  -->
{% block content %}
<h2>뷰페이지</h2>
<ul id="title">
  <li>제목 : {{data.subject}}</li>
  <li>작성자 : {{data.username}}</li>
</ul>
<div id="content_box">{{data.content}}</div>
<div id="button_container">
  <form method="post" action="/board/delete">
    <input type="hidden" name="index" value="{{index}}" />
    <input type="submit" value="삭제하기" />
  </form>
  <a href="/board/update?index={{index}}">수정</a>
  <a href="/board/list">목록 가기</a>
</div>
{% endblock %}
